:root {
	--c-bg: #F6F6F6;
	--c-white: #ffffff;
	--c-black: #000000;
	--c-dark-bg: #191919;
	--c-active: #ab9273;
	--p-select-focus-border-color: #007bff !important;
	--p-select-option-selected-background: #007bff !important;
	--p-select-option-selected-focus-color: #ffffff !important;
	--p-select-option-selected-focus-background: #007bff !important;
	--p-paginator-nav-button-selected-background: #007bff !important;
	--p-paginator-nav-button-selected-color: #fff !important;
	--p-select-option-selected-color: #ffffff !important;
}
